{% extends "monitoring/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>
        <p class="lead">
            Monitors can be retrieved in Prometheus format from <code>{{ external_url }}/metrics</code>.<br/>
            Use the <code>Authorization</code> header with the value <code>Bearer {{ token }}</code>.
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="token" value="{{ token }}">
            <div class="btn-group">
                <button type="submit" name="create" value="true" class="btn btn-primary btn-lg">Add</button>
            </div>
        </form>
    </div>
{% endblock %}