{% extends "monitoring/base.html" %}

{% block content %}
    <div class="container">
        <h1>Delete monitor</h1>
        <h2>Monitor: {{ monitor }}</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="btn-group">
                <a href="{% url 'index' %}" class="btn btn-secondary btn-lg">Cancel</a>
                <button type="submit" name="delete" value="true" class="btn btn-danger btn-lg">Delete</button>
            </div>
        </form>
    </div>
{% endblock %}